<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BankingChatbot.TextStorage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BankingChatbot.TextStorage.Properties.Settings>
            <setting name="TextStorageLocalPath" serializeAs="String">
                <value>"text_storage\default.json"</value>
            </setting>
            <setting name="UsingLocal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextStorageAzureUri" serializeAs="String">
                <value>https://geekclub.hu/textstorage/default.json</value>
            </setting>
        </BankingChatbot.TextStorage.Properties.Settings>
    </applicationSettings>
</configuration>