<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BankingChatbot.TextStorage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BankingChatbot.TextStorage.Properties.Settings>
            <setting name="TextStorageLocalPath" serializeAs="String">
                <value>C:\Users\Balint\Source\Repos\BotService\Shared\text_storage\default.json</value>
            </setting>
            <setting name="UsingLocal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextStorageAzureUri" serializeAs="String">
                <value>https://bankingchatbotdemo.file.core.windows.net/textstorage/default.json?sv=2017-11-09&amp;ss=f&amp;srt=sco&amp;sp=rc&amp;se=2020-11-22T03:54:59Z&amp;st=2018-11-21T19:54:59Z&amp;spr=https&amp;sig=ObRtywN56JJATQr1t%2FNlkWyREYAtPDAj6RkqLDs9Ub4%3D</value>
            </setting>
        </BankingChatbot.TextStorage.Properties.Settings>
    </applicationSettings>
</configuration>